{% extends 'base.html.twig' %}

{% block title %}{% trans %} nouveauShort {% endtrans %}{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
    <h1>{% trans %} nouveauShort {% endtrans %}</h1>

    {{ include('short/_form.html.twig') }}

    <a href="{{ path('app_short_admin') }}">{% trans %} retourListe {% endtrans %}</a>
{% else %}
    <h1>{% trans %} pasAutorise {% endtrans %}</h1>
{% endif %}
{% endblock %}
