{% extends 'base.html.twig' %}

{% block title %}New Short{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
    <h1>Create new Short</h1>

    {{ include('short/_form.html.twig') }}

    <a href="{{ path('app_short_index') }}">back to list</a>
{% else %}
    <h1>Vous n'avez pas la permission d'accéder à cette page.</h1>
{% endif %}
{% endblock %}
