{% extends 'base.html.twig' %}

{% block title %}Edit TShirt{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
    <h1>Edit TShirt</h1>

    {{ include('t_shirt/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_t_shirt_index') }}">back to list</a>

    {{ include('t_shirt/_delete_form.html.twig') }}
{% else %}
    <h1>Vous n'avez pas la permission d'accéder à cette page.</h1>
{% endif %}
{% endblock %}
