{% extends 'base.html.twig' %}

{% block title %}Hello TShirtController!{% endblock %}

{% block body %}
<div>
    <ul>
    {% for element in tshirts %}
        <li><p>{{element.nom}}</p></li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
