{% extends 'base.html.twig' %}

{% block title %}New TShirt{% endblock %}

{% block body %}
    <h1>Create new TShirt</h1>

    {{ include('t_shirt/_form.html.twig') }}

    <a href="{{ path('app_t_shirt_index') }}">back to list</a>
{% endblock %}
