{% extends 'base.html.twig' %}

{% block title %}{% trans %} nouveauTShirt {% endtrans %}{% endblock %}

{% block body %}

{% if is_granted('ROLE_ADMIN') %}
    <h1>{% trans %} creerTShirt {% endtrans %}</h1>

    {{ include('t_shirt/_form.html.twig') }}

    <a href="{{ path('app_t_shirt_admin') }}">{% trans %} retourListe {% endtrans %}</a>
{% else %}
    <h1>{% trans %} pasAutorise {% endtrans %}</h1>
{% endif %}
{% endblock %}
