{% extends 'base.html.twig' %}

{% block title %}Voici la liste des pantalons{% endblock %}

{% block content %}
<div>
    <ul>
    {% for element in pantalons %}
        <li><p>{{element.nom}}</p></li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
