{% extends 'base.html.twig' %}

{% block title %}{% trans %} nouveauPantalon {% endtrans %}{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
    <h1>{% trans %} creerPantalon {% endtrans %}</h1>

    {{ include('pantalon/_form.html.twig') }}

    <a href="{{ path('app_pantalon_admin') }}">{% trans %} retourListe {% endtrans %}</a>
{% else %}
    <h1>{% trans %} pasAutorise {% endtrans %}</h1>
{% endif %}
{% endblock %}
