{% extends 'base.html.twig' %}

{% block title %}New Pantalon{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
    <h1>Create new Pantalon</h1>

    {{ include('pantalon/_form.html.twig') }}

    <a href="{{ path('app_pantalon_index') }}">back to list</a>
{% else %}
    <h1>Vous n'avez pas la permission d'accéder à cette page.</h1>
{% endif %}
{% endblock %}
