{% extends 'base.html.twig' %}

{% block title %}Edit Pull{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
    <h1>Edit Pull</h1>

    {{ include('pull/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_pull_index') }}">back to list</a>

    {{ include('pull/_delete_form.html.twig') }}
{% else %}
    <h1>{% trans %} pasAutorise {% endtrans %}</h1>
{% endif %}
{% endblock %}
