{% extends 'base.html.twig' %}

{% block title %}{% trans %} nouveauPull {% endtrans %}{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
    <h1>{% trans %} creerPull {% endtrans %}</h1>

    {{ include('pull/_form.html.twig') }}

    <a href="{{ path('app_pull_admin') }}">{% trans %} retourListe {% endtrans %}</a>
{% else %}
    <h1>{% trans %} pasAutorise {% endtrans %}</h1>
{% endif %}
{% endblock %}
