<form method="post" action="{{ path('app_adresse_delete', {'id': adresse.id}) }}" onsubmit="return confirm('{% trans %}etesVousSur{% endtrans %}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adresse.id) }}">
    <button class="btn btn-danger mt-2">{% trans %}supprimer{% endtrans %}</button>
</form>
