{% extends 'base.html.twig' %}

{% block title %}{% trans %}modifierAdresse{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}modifierAdresse{% endtrans %}</h1>

    {{ include('adresse/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_user_profile') }}" class="btn btn-link">{% trans %}retourProfil{% endtrans %}</a>

    {{ include('adresse/_delete_form.html.twig') }}
{% endblock %}
