{% extends 'base.html.twig' %}

{% block title %}Page gestion des produits{% endblock %}

{% block body %}

<h1>Page gestion des produits</h1>

{% if is_granted('ROLE_ADMIN') %}
    <br>
    <a href="{{ path('app_pull_admin') }}" class='btn btn-outline-primary'>Gérer les Pulls</a>
    <a href="{{ path('app_t_shirt_admin') }}" class='btn btn-outline-primary'>Gérer les T-Shirts</a>
    <a href="{{ path('app_pantalon_admin') }}" class='btn btn-outline-primary'>Gérer les Pantalons</a>
    <a href="{{ path('app_short_admin') }}" class='btn btn-outline-primary'>Gérer les Shorts</a>
{% else %}
    <h2>Vous n'avez pas la permission d'accéder à cette page.</h2>
{% endif %}

{% endblock %}
