{% extends 'base.html.twig' %}

{% block title %}{% trans %}nouveauUtilisateur{% endtrans %}{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
    <h1>{% trans %}creerUtilisateur{% endtrans %}</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_admin') }}">{% trans %}retourListe{% endtrans %}</a>
{% else %}
    <h1>{% trans %}pasAutorise{% endtrans %}</h1>
{% endif %}
{% endblock %}
